$mainDark: #202020;

$gradientPrimary: linear-gradient(120deg, #83f1ff, #d062ff);
$gradientSecondary: linear-gradient(120deg, #7789ff, #00ffd5);
$gradientTertiary: linear-gradient(120deg, #b700ff, #00c8ff);